* {
    list-style-type: none;
    max-width: auto;
    margin: 0;
    padding: 0;
}

html {
    margin: auto;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: white;
}

.menu-topo {
    background-color: black;
    color: white;
    height: 8vw;
    padding: 0 20px;
}

.menu-topo .geral-menu {
    display: flex;
    justify-content: space-between;
}

.menu-topo .geral-menu .logo-menu {
    display: flex;
    margin: 8px;
}

.menu-topo .geral-menu .lista-menu {}

.menu-topo .geral-menu .lista-menu ul {
    display: flex;
    font-size: 20px;
}

.menu-topo .geral-menu .lista-menu ul li {
    height: 8vw;
}

.menu-topo .geral-menu .lista-menu ul li a {
    align-self: center;
    position: relative;
    top: 6vh;
}


.menu-topo .geral-menu .lista-menu ul li {
    margin: 0;
    padding: 0 20px;
}

.menu-topo .geral-menu .lista-menu ul li:not(hover) {
    transition-duration: 0.5s;
}

.menu-topo .geral-menu .lista-menu ul li:hover {
    background-color: #D24301;
    transition-duration: 0.5s;
    color: #9BDA11;
}

.menu-topo .geral-menu .lista-redes-sociais {
    display: flex;
}

.menu-topo .geral-menu .lista-redes-sociais {}

.menu-topo .geral-menu .lista-redes-sociais ul {
    display: flex;
}

.menu-topo .geral-menu .lista-redes-sociais ul li {
    margin: 30px 10px 10px 10px;
    padding: 5px;
}

.menu-topo .geral-menu .lista-redes-sociais ul li a {
    font-size: 20px;
    padding: 5px;
    border-radius: 45px;
}

.menu-topo .geral-menu .lista-redes-sociais ul li .fa-tiktok:not(hover) {
    transition: 0.5s;
}

.menu-topo .geral-menu .lista-redes-sociais ul li .fa-tiktok:hover {
    transform: scale(1.2);
    transition: 0.5s;

}

.menu-topo .geral-menu .lista-redes-sociais ul li .fa-tiktok {
    color: #FFFFDC;
}

.menu-topo .geral-menu .lista-redes-sociais ul li .fa-facebook-f:not(hover) {
    transition: 0.5s;
}

.menu-topo .geral-menu .lista-redes-sociais ul li .fa-facebook-f:hover {
    transform: scale(1.2);
    transition: 0.5s;

}

.menu-topo .geral-menu .lista-redes-sociais ul li .fa-facebook-f {
    color: #9BDA11;
}

.menu-topo .geral-menu .lista-redes-sociais ul li .fa-instagram:not(hover) {
    transition: 0.5s;
}

.menu-topo .geral-menu .lista-redes-sociais ul li .fa-instagram:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.menu-topo .geral-menu .lista-redes-sociais ul li .fa-instagram {
    color: #D24301;
}

.menu-topo .geral-menu .lista-redes-sociais ul li .fa-pinterest:not(hover) {
    transition: 0.5s;
}

.menu-topo .geral-menu .lista-redes-sociais ul li .fa-pinterest:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.menu-topo .geral-menu .lista-redes-sociais ul li .fa-pinterest {
    color: #9BDA11;
}

.highlight-topo {
    height: 90vh;
    background-color: #D24301;
}

.highlight-topo img {}

#quem-somos {
    /* margin: auto; */
    /* text-align: center; */
}

#quem-somos div .quem-empresa {
    display: flex;
    /* text-align: center; */
}

#quem-somos div h2 {
    margin: 100px auto 30px 100px;
    text-align: left;
    max-width: fit-content;
}

#quem-somos div .quem-empresa-p1 {
    margin: 30px 150px 30px 100px;
    text-align: left;
    max-width: 600px;
}

#quem-somos div .quem-empresa-p2 {
    margin: 30px 100px 30px 100px;
    text-align: left;
    max-width: 750px;
}

#quem-somos div h4 {
    font-size: 20px;
    margin: 30px 100px 30px 100px;
    text-align: left;
}

#quem-somos .btn-faca-seu-projeto {
    display: flex;
    color: #FFFFDC;
    padding: 10px 20px;
    margin: 50px auto;
    width: fit-content;
    background-color: #D24301;
    border-radius: 5px;
}

#quem-somos div .empresa-img {
    display: flex;
    flex-wrap: wrap;
}

#quem-somos div .empresa-img1 {
    padding: 0;
    display: flex;
    margin: 30px 60px 30px 0;
}

#quem-somos div .empresa-img2 {
    padding: 0;
    display: flex;
    margin: 30px 0 30px 60px;
}

/* #quem-somos .quem-especialistas {
    margin: 30px auto;
}

#quem-somos .quem-especialistas .colaborador-1 {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

#quem-somos .quem-especialistas .colaborador-1 .especialista .especialista-dados {
    margin: 30px 200px 30px 0;
}

#quem-somos .quem-especialistas .colaborador-1 .especialista .especialista-dados h2 {}


#quem-somos .quem-especialistas .colaborador-2 {
    margin: 30px auto;
    justify-content: center;
    display: flex;
}

#quem-somos .quem-especialistas .colaborador-2 {
}

#quem-somos .quem-especialistas .especialista ul li a {
    display: flex;
}

#quem-somos .quem-especialistas .especialista .redes-sociais-especialista ul {
    display: flex;
}

#quem-somos .quem-especialistas .especialista .redes-sociais-especialista ul li {
    margin: 0;
    padding: 5px;
}

#quem-somos .quem-especialistas .especialista .redes-sociais-especialista ul li a {
    font-size: 20px;
    padding: 5px;
    border-radius: 45px;
}

#quem-somos .quem-especialistas .especialista .redes-sociais-especialista ul li .fa-tiktok:not(hover) {
    transition: 0.5s;
}

#quem-somos .quem-especialistas .especialista .redes-sociais-especialista ul li .fa-tiktok:hover {
    transform: scale(1.2);
    transition: 0.5s;

}

#quem-somos .quem-especialistas .especialista .redes-sociais-especialista ul li .fa-tiktok {
    color: #FFFFDC;
    text-shadow: #D24301 1px 1px 3px;
}

#quem-somos .quem-especialistas .especialista .redes-sociais-especialista ul li .fa-facebook-f:not(hover) {
    transition: 0.5s;
}

#quem-somos .quem-especialistas .especialista .redes-sociais-especialista ul li .fa-facebook-f:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

#quem-somos .quem-especialistas .especialista .redes-sociais-especialista ul li .fa-facebook-f {
    color: #9BDA11;
    text-shadow: #9BDA11 1px 1px 3px;

}

#quem-somos .quem-especialistas .especialista .redes-sociais-especialista ul li .fa-instagram:not(hover) {
    transition: 0.5s;
}

#quem-somos .quem-especialistas .especialista .redes-sociais-especialista ul li .fa-instagram:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

#quem-somos .quem-especialistas .especialista .redes-sociais-especialista ul li .fa-instagram {
    color: #D24301;
    text-shadow: #D24301 1px 1px 3px;

}

#quem-somos .quem-especialistas .especialista .redes-sociais-especialista ul li .fa-pinterest:not(hover) {
    transition: 0.5s;
}

#quem-somos .quem-especialistas .especialista .redes-sociais-especialista ul li .fa-pinterest:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

#quem-somos .quem-especialistas .especialista .redes-sociais-especialista ul li .fa-pinterest {
    color: #9BDA11;
    text-shadow: #9BDA11 1px 1px 3px;

}

#quem-somos .quem-especialistas .especialista {
    display: flex;
}

#quem-somos .quem-especialistas .especialista .redes-sociais-especialista {
    display: flex;
}

.btn-whatsapp-especialista {
    color: black;
    background-color: pink;
    padding: 10px;
} */

#projetos {
    text-align: center;
}

#projetos h1 {
    margin: 80px auto;
    font-size: 40px;
    color: #D24301;
}

#projetos .portifolio-projeto {
    display: flex;
    flex-wrap: wrap;
}

#projetos .portifolio-projeto div {
    margin: 20px auto;
    padding: 10px;
}

#projetos .portifolio-projeto div p {
    font-size: 24px;
    margin: 30px;
    padding: 10px;
    color: #D24301;
}

#projetos .btn-faca-seu-projeto {
    color: #FFFFDC;
    background-color: #D24301;
    padding: 10px;
    margin: 30px auto;
    border-radius: 5px;
}

#neuroarquitetura {}

#neuroarquitetura h1 {
    color: #D24301;
    font-size: 40px;
    justify-content: left;
    margin: 50px auto;
}

#neuroarquitetura p {
    font-size: 30px;
    margin: 50px auto;
    line-height: 60px;
}

#neuroarquitetura div {
    display: flex;
    justify-content: space-between;
}

#neuroarquitetura div {
    margin: 50px 100px;
}

#faca-projeto-conosco {
    /* margin: auto; */
    text-align: center;
}


#faca-projeto-conosco h1 {
    color: #D24301;
    font-size: 40px;
}

#faca-projeto-conosco .img-faca-projetos {
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
}

#faca-projeto-conosco p {
    margin: 20px auto 50px auto;
    font-size: 20px;
    line-height: 50px;
}

#faca-projeto-conosco a {
    color: #FFFFDC;
    background-color: #D24301;
    padding: 10px;
    margin: 30px auto;
    border-radius: 5px;
}

.footer {
    display: flex;
    margin: 50px 0 20px 0;
    justify-content: space-evenly;
    background-color: black;
    color: #FFFFDC;
}


.footer .menu-bottom {
    margin-top: 30px;
}

.footer .menu-bottom ul li {
    line-height: 30px;
}

.footer .menu-bottom ul li a {
    color: #FFFFDC;
}

.footer .info-bottom {
    margin: 30px 0 30px 0;
    line-height: 25px;
}

.footer .redes-sociais-bottom {
    margin: 30px 0 30px 0;
}

.footer .redes-sociais-bottom ul li{
    display: flex;
}

/* .footer .redes-sociais-bottom ul li a{
    color: #FFFFDC;    
} */

.footer .redes-sociais-bottom ul {
    display: flex;
}

.footer .redes-sociais-bottom ul li {
    margin: 30px 10px 10px 10px;
    padding: 5px;
}

.footer .redes-sociais-bottom ul li a {
    font-size: 20px;
    padding: 5px;
    border-radius: 45px;
}

.footer .redes-sociais-bottom ul li .fa-tiktok:not(hover) {
    transition: 0.5s;
}

.footer .redes-sociais-bottom ul li .fa-tiktok:hover {
    transform: scale(1.2);
    transition: 0.5s;

}

.footer .redes-sociais-bottom ul li .fa-tiktok {
    color: #FFFFDC;
}

.footer .redes-sociais-bottom ul li .fa-facebook-f:not(hover) {
    transition: 0.5s;
}

.footer .redes-sociais-bottom ul li .fa-facebook-f:hover {
    transform: scale(1.2);
    transition: 0.5s;

}

.footer .redes-sociais-bottom ul li .fa-facebook-f {
    color: #9BDA11;
}

.footer .redes-sociais-bottom ul li .fa-instagram:not(hover) {
    transition: 0.5s;
}

.footer .redes-sociais-bottom ul li .fa-instagram:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.footer .redes-sociais-bottom ul li .fa-instagram {
    color: #D24301;
}

.footer .redes-sociais-bottom ul li .fa-pinterest:not(hover) {
    transition: 0.5s;
}

.footer .redes-sociais-bottom ul li .fa-pinterest:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.footer .redes-sociais-bottom ul li .fa-pinterest {
    color: #9BDA11;
}