* {
    list-style-type: none;
    max-width: auto;
    margin: 0;
    padding: 0;
}

html {
    margin: auto;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: white;
}

.menu-topo {
    background-color: black;
    color: white;
    height: 8vw;
    padding: 0 20px;
}

.menu-topo .geral-menu {
    display: flex;
    justify-content: space-between;
}

.menu-topo .geral-menu .logo-menu {
    display: flex;
    margin: 8px;
}

.menu-topo .geral-menu .lista-menu {}

.menu-topo .geral-menu .lista-menu ul {
    display: flex;
    font-size: 20px;
}

.menu-topo .geral-menu .lista-menu ul li {
    max-width: 1200px;
    height: 8vw;
}

.menu-topo .geral-menu .lista-menu ul li a {
    align-self: center;
    position: relative;
    top: 6vh;
}


.menu-topo .geral-menu .lista-menu ul li {
    margin: auto 2rem;
}
.menu-topo .geral-menu .lista-menu ul li:not(hover) {
    transition-duration: 0.5s;
}

.menu-topo .geral-menu .lista-menu ul li:hover {
    background-color: #D24301;
    transition-duration: 0.5s;
    color: #9BDA11;
}



.menu-topo .geral-menu .lista-redes-sociais {
    display: flex;
}

.menu-topo .geral-menu .lista-redes-sociais {}

.menu-topo .geral-menu .lista-redes-sociais ul {
    display: flex;
}

.menu-topo .geral-menu .lista-redes-sociais ul li {
    margin: 30px 10px 10px 10px;
    padding: 5PX;
}

.menu-topo .geral-menu .lista-redes-sociais ul li a {
    font-size: 24px;
}

.menu-topo .geral-menu .lista-redes-sociais ul li .fa-tiktok {
    color: #FFFFDC;
}

.menu-topo .geral-menu .lista-redes-sociais ul li .fa-facebook-f {
    color: #9BDA11;
}

.menu-topo .geral-menu .lista-redes-sociais ul li .fa-instagram {
    color: #D24301;
}

.menu-topo .geral-menu .lista-redes-sociais ul li .fa-pinterest {
    color: #9BDA11;
}